h2{
    text-align: center;
    color: red;
    background-color: #03c6fc;
}

form{
    background-color: #03fcfc;


}

.asterisk::before{
    content: ' *';
    color: red; 
}

h3{
    color: red;
}

.form1{
    text-align: center; 
    color: blue;
}

.pas1{
    margin-right: 60px;
}

.form2{
    color: blue;

    margin-left: 8%;

    height: 150px;
}

.form3{
    margin-left: 45%;
    
    position: relative;
    bottom: 130px;
}

.form4{
    color: blue;
    margin-left: 3%;
}

.declaration{
    color: blue;
}
.midname{

    position: relative;
    right: 25px;

    
}

#opt1{

    position: relative;
    right: 38px;
}

#country1{
    margin-right: 40px;
}

#country2{
    margin-left: 18px;
}

.mobile1{
    position: relative;
    right:30px;
}

.nickname1{

    position: relative;
    left: 26%;

}

#fundtransfer{

    margin-left: 3%;
}

.submitresetbuttons{
    text-align: center;
}

input[type="submit"], [type="reset"]{
    color: white;
    background-color: blue;
    padding: 10px;
}

