h1{
    color: crimson;
    background-color: darkkhaki;

}

span{
    background-color: orange;
}

p{
    color: blue;
    background-color: aquamarine;
   
}

#header{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height: 150px;
color: blue;



}

.paragraph{


    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: chartreuse;
    
    height: 200px;
    width: 600px;
    
}
